/* body {
    background-image: url("../img/block-background-sm.jpg");
} */

header, #skills, footer, #projects-div, #about {
    background-color: rgb(40,84,108,0.8);
    margin: auto;
    color: rgb(186, 197, 197);
}

header {
    max-width: 30%;
    padding: .2em;
    border: 2px solid;
    border-color: rgb(10, 226, 110);
    border-radius: 5px;
}

section, footer, #projects-div {
    width: 90%;
}

h1, h3 {
    text-align: center;
    margin: 7px;
}

nav li {
    list-style-type: none;
    background-color: rgb(40,84,108,0.8);
    padding: .2em;
    border: 1px solid;
    border-color: rgb(32, 169, 96);
    border-radius: 5px;
}

#projects {
    display: flex;
}

img {
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
}

#footer-nav, #footer-copy {
    padding: 7px;
}

a {
    color: rgb(10, 226, 110);
}

a:visited {
    color: rgb(21, 150, 219);
}