body {
    min-height: calc(100vh - 16px - 3em);
    position: relative;
    padding-bottom: 3em;
    background-image: url("../img/block-background.jpg");
    background-size: 200%;
}

header, #skills, footer, #projects, #about {
    background-color: rgb(40,84,108,0.8);
    margin: auto;
    color: rgb(186, 197, 197);
}

header {
    max-width: 30%;
    padding: .2em;
    border: 2px solid;
    border-color: rgb(10, 226, 110);
    border-radius: 5px;
}

#menu {
    font-size: 1.75em;
    text-align: center;
    color: rgb(10, 226, 110);
}

section, footer, #projects {
    width: 90%;
}

h1, h3 {
    text-align: center;
    margin: 7px;
}

nav li {
    list-style-type: none;
    background-color: rgb(40,84,108,0.8);
    padding: .2em;
    border: 1px solid;
    border-color: rgb(32, 169, 96);
    border-radius: 5px;
    /* overflow: hidden; */
}

#nav-ul {
    height: 0px;
    overflow: hidden;
    transition: all 1s;
}

#nav-ul.slide {
    height: 79.5px;
}

/* #nav-ul:hover {
    height: 30px;
    overflow: visible;
} */

#projects {
    display: flex;
}

img {
    max-width: 100%;
}

footer {
    position: absolute;
    left: 5%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

#footer-nav, #footer-copy {
    padding: .2em;
}

a {
    color: rgb(10, 226, 110);
}

a:visited {
    color: rgb(21, 150, 219);
}