@media only screen and (min-width: 451px) {
    
    body {
        background-image: url("../img/block-background.jpg");
    }

    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }
}