@media only screen and (max-width: 450px) {
    body {
    background-image: url("../img/block-background-sm.jpg");
    }
}
    
    .icon-menu {
        font-size: 1.75em;
        text-align: center;
    }
    
    nav ul {
        display: none;
    }
