body {
    min-height: calc(100vh - 16px - 3em);
    position: relative;
    padding-bottom: 3em;
    background-image: url("../img/block-background.jpg");
    background-size: 200%;
}

#menu {
    font-size: 1.75em;
    text-align: center;
    color: rgb(10, 226, 110);
}

header, #skills, footer, #projects, #about {
    background-color: rgb(40,84,108,0.8);
    margin: auto;
    color: rgb(186, 197, 197);
}

header {
    max-width: 30%;
    padding: .2em;
    border: 2px solid;
    border-color: rgb(10, 226, 110);
    border-radius: 5px;
}

/* duplicate */
/* #menu {
    font-size: 1.75em;
    text-align: center;
    color: rgb(10, 226, 110);
} */

section, footer, #projects {
    width: 90%;
}

h1, h3 {
    text-align: center;
    margin: 7px;
}

nav li {
    list-style-type: none;
}

.nav-and-footer {
    background-color: rgb(40,84,108,0.8);
    padding: .2em;
    border: 1px solid;
    border-color: rgb(32, 169, 96);
    border-radius: 5px;
}

#nav-ul {
    height: 0px;
    overflow: hidden;
    transition: all 1s;
}

#nav-ul.slide {
    height: 79.5px;
}

#projects {
    display: flex;
}

#results {
    border: 1 px solid red;
}

.tab-content {
    padding: .5em;
    border: 2px solid;
    border-color: rgb(10, 226, 110);
    border-radius: 5px;
}

/* TODO - style dynamically added content */
/* TODO - make links think they're not visited yet */

/* not working, want to make it on it's own line */
#projects-header {
    display: block;
}

/* not working, want to add margins to dynamically added content */
#result img {
    margin: 10px;
}

img {
    max-width: 100%;
}

footer {
    position: absolute;
    width: 91.25%;
    left: 4%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

#footer-nav, #footer-copy {
    padding: .4em;
}

#footer-nav a {
    padding: .2em;
}

a {
    color: rgb(10, 226, 110);
}

a:visited {
    color: rgb(21, 150, 219);
}